<form class="submit-form" style="margin: 0 auto;margin-top: 100px;width: 20%;">

    


    <div class="form-group">
        <label for="id">ID</label>
        <div class="d-flex" style="justify-content: space-between;align-items: end;">
            <input type="number" class="form-control" id="id" placeholder="enter ID" [(ngModel)]="myId" name="id" style="width: 60%;">
            <button style="width: 50px;height: 20px;" class="btn btn-success" (click)="getById()" style="width: 30%;height: 80%;">Find User</button>
        </div>
    </div>
</form>

@if(user.name){ 
    @if(!isDeleted){
        <table class="table" style="width: 20%;margin: 0 auto;margin-top: 20px;">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.name }}</td> 
                    <td>{{ user.age }}</td> 
                </tr>
            </tbody>
          </table>
          
          <div class="button" style="width: 20%;margin: 0 auto;margin-top: 20px;">
              <button class="btn btn-danger" (click)="deleteUserById()">Delete User</button>
          </div>
    }
    @else {
        <h1 style="width: 20%;margin: 0 auto;font-size: 30px;margin-top: 30px;">Is Deleted</h1>
    }
} @else {
    <h1 style="width: 20%;margin: 0 auto;font-size: 30px;margin-top: 30px;">Ma'lumot topilmadi</h1>
}