<form class="submit-form" style="margin: 0 auto;margin-top: 100px;width: 20%;">


    <div class="form-group">
        <label for="id">ID</label>
        <div class="d-flex" style="justify-content: space-between;align-items: end;">
            <input type="number" class="form-control" id="id" placeholder="enter ID" [(ngModel)]="myId" name="id" style="width: 60%;">
            <button style="width: 50px;height: 20px;" class="btn btn-success" (click)="getById()" style="width: 30%;height: 80%;">Find User</button>
        </div>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="enter name" value="{{user.name}}" [(ngModel)]="setValue.name" name="name">
    </div>

    
    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" placeholder="enter age" required value="{{user.age}}" [(ngModel)]="setValue.age" name="age">
    </div>

    <br>
    <button type="submit" class="btn btn-primary" (click)="setUser()">Submit</button>


</form>




<!-- <button class="btn btn-primary" (click)="setUser()" type="submit" >Create User</button> -->
